<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>My App Usage</title>
<%= stylesheet_link_tag    'application', media: 'all'%> <!--
<%= javascript_include_tag 'application' %>  -->
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap' %>
<%= javascript_include_tag 'metisMenu' %>
<%= javascript_include_tag 'scripts' %> 
<%= javascript_include_tag 'sb-admin-2' %>
<%= javascript_include_tag 'raphael' %> 
<%= javascript_include_tag 'morris' %> 
<%= javascript_include_tag 'excanvas' %>
<%= javascript_include_tag 'myOwn' %> 
<%= javascript_include_tag 'jquery.flot' %>
<%= javascript_include_tag 'jquery.flot.pie' %>
<%= javascript_include_tag 'jquery.flot.resize' %> 
<%= javascript_include_tag 'jquery.flot.time' %> 
<%= javascript_include_tag 'jquery.flot.tooltip' %> 
<!--
<%= csrf_meta_tags %> -->
</head>
<%= render @pages || "top_nav" %>
<%= render @pages || "side_nav" %>

<%= render @pages || "end_side_nav" %> 
<div id="page-wrapper">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Minutes of App Used Per Day
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
