<%= render @pages || "header" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'map' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap' %>
<%= javascript_include_tag 'metisMenu' %>
<%= javascript_include_tag 'scripts' %> 
<%= javascript_include_tag 'sb-admin-2' %>
<%= javascript_include_tag 'raphael' %> 
<%= javascript_include_tag 'morris' %> 
<%= javascript_include_tag 'excanvas' %>
<%= javascript_include_tag 'myOwn' %> 
<%= javascript_include_tag 'jquery.flot' %>
<%= javascript_include_tag 'jquery.flot.pie' %>
<%= javascript_include_tag 'jquery.flot.resize' %> 
<%= javascript_include_tag 'jquery.flot.time' %> 
<%= javascript_include_tag 'jquery.flot.tooltip' %> 
</head>
<%= render @pages || "top_nav" %>
<%= render @pages || "side_nav" %>
   
   <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-5"><h3>Thank you for your submission!</h3></div>
            </div>
        </div>
    </div>
</body>
</html>

