<%= render @pages || "header" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap' %>
<%= javascript_include_tag 'metisMenu' %>
<%= javascript_include_tag 'scripts' %>
<%= javascript_include_tag 'sb-admin-2' %>

</head>
<%= render @pages || "top_nav" %>
<%= render @pages || "side_nav" %>
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <p> </p>
    </div>
    <div class="col-lg-12" style="height: 320px">
      <div id="map-canvas" />
    </div>
  </div><!-- <div id="wrapper"> -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">My Locations</h1>
      <h5><i>We have picked up you being in the following locations. Give us some context for the purpose and duration of your visits.</i></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
      <div class="col-lg-10">
      <!-- <form> -->
        <form role="form">
          <div class="form-group">
            <div class="table">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Visit/Purpose</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Arrived</th>
                    <th scope="col">Departed</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>

                <!-- This is the main loop to generate the form presented to the user for data submission -->

                  <% @count = 1%>
                  <%= form_for(:context_loc) do |f| %>
                    <% @locts.each do |location| %>
                      <%= f.fields_for location.ID.to_s do |line| %>
                        <% @timestamp = Time.at(location.timestamp / 1000) %>
                        <tr>
                          <th scope="row"><%= @count =%></th>
                          <td><%= line.select "purpose",
                            [["Coffee","Coffee"],["Study","Study"],["Entertainment","Entertainment"]],
                            {:prompt => "Select One"},{:class => 'form-control'}%>
                        </td>
                        <td><%= @timestamp.strftime("%d/%m/%Y") =%></td>
                        <td><%= @timestamp.strftime("%H:%M")=%></td>
                        <td><%= line.time_field "arrived", class: 'form-control', placeholder: 'hh:mm'%></td>
                        <td><%= line.time_field "departed", class: 'form-control', placeholder: 'hh:mm'%></td>
                        <td><%= line.text_field "description", class: 'form-control' %></td>
                        </tr>
                        <% @count += 1%>
                      <% end %>
                    <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
              <%= f.submit "Submit", class: "btn btn-outline btn-primary btn-lg btn-block addTopicButton" %>
            <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

