<%= render @pages || "header" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'map' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap' %>
<%= javascript_include_tag 'metisMenu' %>
<%= javascript_include_tag 'scripts' %>
<%= javascript_include_tag 'sb-admin-2' %>
<%= javascript_include_tag 'raphael' %>
<%= javascript_include_tag 'morris' %>
<%= javascript_include_tag 'excanvas' %>
<%= javascript_include_tag 'myOwn' %>
<%= javascript_include_tag 'jquery.flot' %>
<%= javascript_include_tag 'jquery.flot.pie' %>
<%= javascript_include_tag 'jquery.flot.resize' %>
<%= javascript_include_tag 'jquery.flot.time' %>
<%= javascript_include_tag 'jquery.flot.tooltip' %>
</head>
<%= render @pages || "top_nav" %>
<%= render @pages || "side_nav" %>
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">My Locations</h1>
    </div>
    <div class="col-lg-1"></div>
    <form class="col-lg-10">
      <!-- <form> -->
      <form role="form">
        <div class="form-group">
          <div class="table">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Visit</th>
                  <th scope="col">Date and Time</th>
                  <th scope="col">Effectiveness</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <!-- This generates the effectiveness part of the form, and displays some data from the form before in itself -->

                <% @count = 1 %>
                <%= form_for :effect do |f| %>
                  <% @given.each do |report| %>
                    <tr>
                      <th scope="row"><%= @count %></th>
                      <td><p><%= report[1]["purpose"] %></p></td>
                      <td><%= Time.at(LocationReport.find(report[0].to_i).timestamp / 1000).strftime("%d/%m/%Y") %> | <%= report[1]["arrived"] %> - <%= report[1]["departed"] %></td>
                      <%= f.fields_for report[0] do |line| %>
                        <td><%= line.range_field "effect", type: 'range', class: 'form-control slider', min: 0, max: 100, step: 1%></td>
                      <% end %>
                      <td><span id="demo<%= @count %>"></span></td>
                    </tr>
                    <% @count += 1%>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
              <%= f.submit "Submit", class: "btn btn-outline btn-primary btn-lg btn-block addTopicButton"%>
            <% end %>
            </div>
          </div>
        </form>
      </div>
    </div><!-- End of Form -->
  </div>
</body>
</html>
